@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 10vh repeat(2, 2fr) 10vh;
  grid-template-areas:
    "header header"
    "main main"
    "main main"
    "footer footer ";
  margin: auto;
  max-width: 1450px;
  text-align: center;
}
.desplegable-menu {
  display: none;
}
.desplegable-list {
  display: none;
}
.desplegable-input {
  display: none;
}

header {
  /* background-color: #666666; */
  grid-area: header;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-height: 10vh;
}

.container-logo {
  height: 100%;
}

.container-logo img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.nav {
  /* background-color: #000000; */
}

.nav-list {
  list-style-type: none;
}

.nav-list li {
  /* background-color: #adc751; */
  display: inline-block;
  margin-right: 1.2rem;
}

.nav-list-link {
  text-decoration: none;
  font-size: 1.3rem;
}

.nav-list-link:hover {
  color: #9994e4;
  border-bottom: 1px solid #9994e4;
}

.main {
  /* background-color: bisque; */
  grid-area: main;
}

.container-redes {
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 40%;
  left: 10px;
  z-index: 1;
}

.principal {
  /* background-color: #fafafa; */
  text-align: center;
  display: grid;
  width: 100%;
}

h1 {
  font-size: 3rem;
  padding: 2rem;
}

h2 {
  padding: 2rem;
}

h3 {
  padding: 1rem;
}

.img-fondo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.9;
}

.img-chica {
  max-width: 500px;
  object-fit: contain;
  width: 100%;
  height: 100%;
  border-radius: 80px;
}

footer {
  /* background-color: #999999; */
  border-top: 1px solid #66666610;
  padding: 1em;
  grid-area: footer;
}

.formulario {
  /* background-color: #d47979; */
  text-align: center;
}

.formulario-input {
  border: 0;
  font-family: "Quicksand", sans-serif;
  background-color: #e6e6e6;
  font-size: 1rem;
  height: 2rem;
  border-radius: 10px;
  outline: none;
  padding: 10px;
}

.formulario-input:focus {
  border: 1px solid #9994e4;
}

.formulario-btn {
  color: #444444;
  font-size: 1rem;
  border-radius: 10px;
  height: 2rem;
  width: 5rem;
  border: 1px solid #666666;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.5);
}
.formulario-btn:hover {
  background-color: #9994e4;
  cursor: pointer;
  color: #ffffff;
}

.pie {
  text-align: end;
  font-size: 0.8rem;
}

/* INDEX */

.container {
  /* background-color: #444444; */
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  padding: 0 50px 0 50px;
}

.home {
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-template-rows: repeat(2, 1fr);
}

/* ACERCA DE */

.objetivos-list {
  list-style-type: none;
}

section p {
  margin: auto;
}

.acercade {
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  padding: 0 50px 0 50px;
}
.acercade article {
  padding: 0 50px 10px 50px;
}

.acercade .img-fondo {
  object-position: center;
}

/* PRODUCTOS */

.producto {
  margin: 15px;
  padding: 10px;

}

.producto p {
  text-align: justify;
  margin: auto;
}
.producto img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.cuerpo-productos {
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  padding: 0 50px 0 50px;
}

/* TRABAJOS - PORTFOLIO */

.contenedor-galeria {
  margin: 10px;
}
.foto-galeria {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.portfolio {
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  padding: 0 0 0 50px;
}
.foto-galeria:hover {
  scale: 1.05;
  transition: 1s;
  border-radius: 35px;
}

/* CONTACTO */

.contenedor-contacto {
  border-radius: 30px;
  font-size: 1.5rem;
  margin: auto;
  width: 80%;
}

.formulario-contacto {
  background-color: #ffffff;
  border-radius: 30px;
  font-size: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario-contacto input {
  width: 50%;
  min-width: 350px;
}
.formulario-contacto textarea {
  resize: none;
  min-height: 5rem;
  font-size: 1rem;
  width: 50%;
  min-width: 350px;
}

::placeholder {
  color: #9994e4;
  font-family: "Quicksand", sans-serif;
}

@media only screen and (max-width: 1024px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: 100px repeat(3, 2fr) 1fr;
    grid-template-areas:
      "header"
      "main"
      "main"
      "main"
      "footer";
  }
  .nav-list-link{
  font-size: 1.6rem;
  }
  .img-fondo {
    min-height: 500px ;
  }

  .formulario-contacto {
    font-size: 1.3rem;
  }

  .container-redes {
    /* background-color: aqua; */
    display: flex;
    align-items: flex-end;
    position: fixed;
    top: 80%;
    right: 10px;
    z-index: 1;
  }
  .container,
  .acercade,
  .cuerpo-productos,
  .portfolio {
    padding: 0;
  }
  .pie {
    text-align: center;
  }
}
@media only screen and (max-width: 768px) {

  .nav {
    display: none;
  }
  .desplegable-menu {
    display: flex;
  }
  .desplegable-list {
    list-style-type: none;
    position: fixed;
  }
  .desplegable-list li {
    /* background-color: #adc751; */
    height: auto;
  }
  .nav-desplegable {
    cursor: pointer;
  }
  .desplegable-link {
    text-decoration: none;
    font-size: 5rem;
  }
  .desplegable-link:hover {
    color: #9994e4;
    border-bottom: 1px solid #9994e4;
  }  

  .desplegable-input:checked + .desplegable-list {
    display: block;
    position: fixed;
    top: 120px;
    z-index: 1;
    background-color: #ffffffe8;
    width: 100%;
    height: 100%;
  }

}

@media only screen and (max-width: 425px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1rem;
  }
  .desplegable-link {

    font-size: 4rem;
  }
}
